<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this the app in project 22</h1>
    {% if a > b and a > c %}
    <h1>in project22 a is greater value</h1>
    {% elif b > a and b > c %}
    <h1>in project22 b is greater value</h1>
    {% else %}
    <h1> in project22 c is greater value </h1>
    {% endif %}
</body>
</html>